*
!*/

!.gitignore
!app/**
!tests/global.d.ts
!next.config.mjs
!next-env.d.ts
!package.json
!package-lock.json
!patches/**
!playwright.config.ts
!postcss.config.mjs
!README.md
!tailwind.config.ts
!tests/**
!tsconfig.json
!tsconfig.tests.json

# keep these here, so local version control doesn't track them.
.env*
.idea/
.next/
node_modules/
