*
!*/

!.gitignore
!app/**
!next.config.mjs
!package.json
!package-lock.json
!postcss.config.mjs
!README.md
!tailwind.config.ts
!tsconfig.json

# keep these here, so local version control doesn't track them.
.env*
/.idea/
/.next/
/.vercel/
node_modules/
